<div class="third-div">
    <nav class="third-nav">
        <ul class="third-list-car1">
            <img src="{{toyota_sale_cars[0]}}">
            <li>Name : Toyota tundra TRD Pro</li>
            <li>Make : Toyota</li>
            <li>Model : 2015</li>
            <li>Price : PKR 3,364,225</li>
            <li>Location : Islamabad</li>
            <li>Date Added : 20 March, 2021</li>
            <li>Rating : 3.1</li>
        </ul>
        <ul class="third-list-car2">
            <img src="{{toyota_sale_cars[1]}}">
            <li>Name : Toyota Land Cruiser</li>
            <li>Make : Toyota</li>
            <li>Model : 1996</li>
            <li>Price : PKR 2,859,000</li>
            <li>Location : Lahore</li>
            <li>Date Added : 8 January 2020</li>
            <li>Rating : 2.9</li>
        </ul>
        <ul class="third-list-car3">
            <img src="{{toyota_sale_cars[2]}}">
            <li>Name : Toyota Corolla </li>
            <li>Make : Toyota</li>
            <li>Model : 2021</li>
            <li>Price : PKR 7,200,000</li>
            <li>Location : Kashmir</li>
            <li>Date Added : 17 February, 2022</li>
            <li>Rating : 4.3</li>
        </ul>
        <ul class="third-list-car4">
            <img src="{{toyota_sale_cars[3]}}">
            <li>Name : Toyota Camry LE </li>
            <li>Make : Toyota</li>
            <li>Model : 1993</li>
            <li>Price : PKR 2,452,913</li>
            <li>Location : Multan</li>
            <li>Date Added : 31 December, 2018</li>
            <li>Rating : 2.2</li>
        </ul>
        <ul class="third-list-car5">
            <img src="{{toyota_sale_cars[4]}}">
            <li>Name : Toyota MR2 Turbo </li>
            <li>Make : Toyota</li>
            <li>Model : 1993</li>
            <li>Price : PKR 9,100,237</li>
            <li>Location : Peshawar</li>
            <li>Date Added : 10 August, 2019</li>
            <li>Rating : 4.5</li>
        </ul>
    </nav>
</div>