<div class="third-div">
    <nav class="third-nav">
        <ul class="third-list-bike5">
            <img src="{{all_other_bike_sale_images[0]}}">
            <li>Name : {{all_other_bike_sale_names[0]}}</li>
            <li>Make : Hero</li>
            <li>Model : {{all_other_bike_sale_models[0]}}</li>
            <li>Price : {{all_other_bike_sale_prices[0]}}</li>
            <li>Location : {{all_other_bike_sale_locations[0]}}</li>
            <li>Date Added : {{all_other_bike_sale_dates[0]}}</li>
            <li>Rating : {{all_other_bike_sale_ratings[0]}}</li>
        </ul>
        <ul class="third-list-bike6">
            <img src="{{all_other_bike_sale_images[1]}}">
            <li>Name : {{all_other_bike_sale_names[1]}}</li>
            <li>Make : Hero</li>
            <li>Model : {{all_other_bike_sale_models[1]}}</li>
            <li>Price : {{all_other_bike_sale_prices[1]}}</li>
            <li>Location : {{all_other_bike_sale_locations[1]}}</li>
            <li>Date Added : {{all_other_bike_sale_dates[1]}}</li>
            <li>Rating : {{all_other_bike_sale_ratings[1]}}</li>
        </ul>
        <ul class="third-list-bike7">
            <img src="{{all_other_bike_sale_images[2]}}">
            <li>Name : {{all_other_bike_sale_names[2]}}</li>
            <li>Make : Hero</li>
            <li>Model : {{all_other_bike_sale_models[2]}}</li>
            <li>Price : {{all_other_bike_sale_prices[2]}}</li>
            <li>Location : {{all_other_bike_sale_locations[2]}}</li>
            <li>Date Added : {{all_other_bike_sale_dates[2]}}</li>
            <li>Rating : {{all_other_bike_sale_ratings[2]}}</li>
        </ul>
        <ul class="third-list-bike8">
            <img src="{{all_other_bike_sale_images[3]}}">
            <li>Name : {{all_other_bike_sale_names[3]}}</li>
            <li>Make : Yamaha</li>
            <li>Model : {{all_other_bike_sale_models[3]}}</li>
            <li>Price : {{all_other_bike_sale_prices[3]}}</li>
            <li>Location : {{all_other_bike_sale_locations[3]}}</li>
            <li>Date Added : {{all_other_bike_sale_dates[3]}}</li>
            <li>Rating : {{all_other_bike_sale_ratings[3]}}</li>
        </ul>
        <ul class="third-list-bike9">
            <img src="{{all_other_bike_sale_images[4]}}">
            <li>Name : {{all_other_bike_sale_names[4]}}</li>
            <li>Make : Yamaha</li>
            <li>Model : {{all_other_bike_sale_models[4]}}</li>
            <li>Price : {{all_other_bike_sale_prices[4]}}</li>
            <li>Location : {{all_other_bike_sale_locations[4]}}</li>
            <li>Date Added : {{all_other_bike_sale_dates[4]}}</li>
            <li>Rating : {{all_other_bike_sale_ratings[4]}}</li>
        </ul>
        <ul class="third-list-bike10">
            <img src="{{all_other_bike_sale_images[5]}}">
            <li>Name : {{all_other_bike_sale_names[5]}}</li>
            <li>Make : Yamaha</li>
            <li>Model : {{all_other_bike_sale_models[5]}}</li>
            <li>Price : {{all_other_bike_sale_prices[5]}}</li>
            <li>Location : {{all_other_bike_sale_locations[5]}}</li>
            <li>Date Added : {{all_other_bike_sale_dates[5]}}</li>
            <li>Rating : {{all_other_bike_sale_ratings[5]}}</li>
        </ul>
    </nav>
</div>