<div class="third-div">
    <nav class="third-nav">
        <ul class="third-list-car6">
            <img src="{{honda_sale_car_images[0]}}">
            <li>Name : {{honda_sale_car_names[0]}}</li>
            <li>Make : Honda</li>
            <li>Model : {{honda_sale_car_models[0]}}</li>
            <li>Price : {{honda_sale_car_prices[0]}}</li>
            <li>Location : {{honda_sale_car_locations[0]}}</li>
            <li>Date Added : {{honda_sale_car_dates[0]}}</li>
            <li>Rating : {{honda_sale_car_ratings[0]}}</li>
        </ul>
        <ul class="third-list-car7">
            <img src="{{honda_sale_car_images[1]}}">
            <li>Name : {{honda_sale_car_names[1]}}</li>
            <li>Make : Honda</li>
            <li>Model : {{honda_sale_car_models[1]}}</li>
            <li>Price : {{honda_sale_car_prices[1]}}</li>
            <li>Location : {{honda_sale_car_locations[1]}}</li>
            <li>Date Added : {{honda_sale_car_dates[1]}}</li>
            <li>Rating : {{honda_sale_car_ratings[1]}}</li>
        </ul>
        <ul class="third-list-car8">
            <img src="{{honda_sale_car_images[2]}}">
            <li>Name : {{honda_sale_car_names[2]}}</li>
            <li>Make : Honda</li>
            <li>Model : {{honda_sale_car_models[2]}}</li>
            <li>Price : {{honda_sale_car_prices[2]}}</li>
            <li>Location : {{honda_sale_car_locations[2]}}</li>
            <li>Date Added : {{honda_sale_car_dates[2]}}</li>
            <li>Rating : {{honda_sale_car_ratings[2]}}</li>
        </ul>
        <ul class="third-list-car9">
            <img src="{{honda_sale_car_images[3]}}">
            <li>Name : {{honda_sale_car_names[3]}}</li>
            <li>Make : Honda</li>
            <li>Model : {{honda_sale_car_models[3]}}</li>
            <li>Price : {{honda_sale_car_prices[3]}}</li>
            <li>Location : {{honda_sale_car_locations[3]}}</li>
            <li>Date Added : {{honda_sale_car_dates[3]}}</li>
            <li>Rating : {{honda_sale_car_ratings[3]}}</li>
        </ul>
        <ul class="third-list-car10">
            <img src="{{honda_sale_car_images[4]}}">
            <li>Name : {{honda_sale_car_names[4]}}</li>
            <li>Make : Honda</li>
            <li>Model : {{honda_sale_car_models[4]}}</li>
            <li>Price : {{honda_sale_car_prices[4]}}</li>
            <li>Location : {{honda_sale_car_locations[4]}}</li>
            <li>Date Added : {{honda_sale_car_dates[4]}}</li>
            <li>Rating : {{honda_sale_car_ratings[4]}}</li>
        </ul>
    </nav>
</div>