<!DOCTYPE html>
<!-- <router-outlet></router-outlet> -->

<div class="div-app">
    <nav class="app-navigator">
        <ul class="app-list">
            <li class="li1">
                <button class="btn1" type="button" routerLink="/category1">HONDA CARS</button>
            </li>
        </ul>
        <ul class="app-list1">
            <li class="li2">
                <button class="btn2" type="button" routerLink="/category2">TOYOTA CARS</button>
            </li>
        </ul>
        <ul class="app-list2">
            <li class="li3">
                <button class="btn3" type="button" routerLink="/category3">LEXUS CARS</button>
            </li>
        </ul>
        <ul class="app-list3">
            <li class="li4">
                <button class="btn4" type="button" routerLink="/home">HOME</button>
            </li>
        </ul>
        <ul class="app-list4">
            <li class="li5">
                <button class="btn5" type="button" routerLink="/category4">BAJAJ BIKES</button>
            </li>
        </ul>
        <ul class="app-list5">
            <li class="li6">
                <button class="btn6" type="button" routerLink="/category5">HERO AND YAMAHA BIKES</button>
            </li>
        </ul>
    </nav>
</div>

<!-- <app-page></app-page> -->

<router-outlet></router-outlet>