<div class="third-div">
    <nav class="third-nav">
        <ul class="third-list-car11">
            <img src="{{lexus_sale_car_images[0]}}">
            <li>Name : {{lexus_sale_car_names[0]}}</li>
            <li>Make : Lexus</li>
            <li>Model : {{lexus_sale_car_models[0]}}</li>
            <li>Price : {{lexus_sale_car_prices[0]}}</li>
            <li>Location : {{lexus_sale_car_locations[0]}}</li>
            <li>Date Added : {{lexus_sale_car_dates[0]}}</li>
            <li>Rating : {{lexus_sale_car_ratings[0]}}</li>
        </ul>
        <ul class="third-list-car12">
            <img src="{{lexus_sale_car_images[1]}}">
            <li>Name : {{lexus_sale_car_names[1]}}</li>
            <li>Make : Lexus</li>
            <li>Model : {{lexus_sale_car_models[1]}}</li>
            <li>Price : {{lexus_sale_car_prices[1]}}</li>
            <li>Location : {{lexus_sale_car_locations[1]}}</li>
            <li>Date Added : {{lexus_sale_car_dates[1]}}</li>
            <li>Rating : {{lexus_sale_car_ratings[1]}}</li>
        </ul>
    </nav>
</div>