<div class="third-div">
    <nav class="third-nav">
        <ul class="third-list-bike1">
            <img src="{{bike_sale_images[0]}}">
            <li>Name : {{bike_sale_names[0]}}</li>
            <li>Make : Bajaj</li>
            <li>Model : {{bike_sale_models[0]}}</li>
            <li>Price : {{bike_sale_prices[0]}}</li>
            <li>Location : {{bike_sale_locations[0]}}</li>
            <li>Date Added : {{bike_sale_dates[0]}}</li>
            <li>Rating : {{bike_sale_ratings[0]}}</li>
        </ul>
        <ul class="third-list-bike2">
            <img src="{{bike_sale_images[1]}}">
            <li>Name : {{bike_sale_names[1]}}</li>
            <li>Make : Bajaj</li>
            <li>Model : {{bike_sale_models[1]}}</li>
            <li>Price : {{bike_sale_prices[1]}}</li>
            <li>Location : {{bike_sale_locations[1]}}</li>
            <li>Date Added : {{bike_sale_dates[1]}}</li>
            <li>Rating : {{bike_sale_ratings[1]}}</li>
        </ul>
        <ul class="third-list-bike3">
            <img src="{{bike_sale_images[2]}}">
            <li>Name : {{bike_sale_names[2]}}</li>
            <li>Make : Bajaj</li>
            <li>Model : {{bike_sale_models[2]}}</li>
            <li>Price : {{bike_sale_prices[2]}}</li>
            <li>Location : {{bike_sale_locations[2]}}</li>
            <li>Date Added : {{bike_sale_dates[2]}}</li>
            <li>Rating : {{bike_sale_ratings[2]}}</li>
        </ul>
        <ul class="third-list-bike4">
            <img src="{{bike_sale_images[3]}}">
            <li>Name : {{bike_sale_names[3]}}</li>
            <li>Make : Bajaj</li>
            <li>Model : {{bike_sale_models[3]}}</li>
            <li>Price : {{bike_sale_prices[3]}}</li>
            <li>Location : {{bike_sale_locations[3]}}</li>
            <li>Date Added : {{bike_sale_dates[3]}}</li>
            <li>Rating : {{bike_sale_ratings[3]}}</li>
        </ul>

    </nav>
</div>